html {
  height: var(--dvh, 100vh);
  overflow: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--md-sys-color-scrim);
  font-family: var(--md-ref-typeface-brand);
  overflow-y: auto;
  height: 100%;
}

button, 
a, 
input, 
[role="button"],
[tabindex="0"] {
  -webkit-tap-highlight-color: transparent;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--md-sys-color-scrim);
  /*padding-bottom: env(safe-area-inset-bottom); */
}

main {
  flex: 1;
  position: relative;
  /*\padding-bottom: calc(64px + env(safe-area-inset-bottom)); */
}

#movies-container {
  flex: 1;
  position: relative;
  z-index: 1;
}

.corner-bottom {
  position: fixed;
  bottom: calc(72px + env(safe-area-inset-bottom));
  left: 0;
  right: 0;
  height: 40px;
  pointer-events: none;
  z-index: 2;
}

.corner-bottom::before,
.corner-bottom::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--md-sys-color-scrim);
}

.corner-bottom::before {
  left: 0;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3E%3Cpath d='M0 0v40H40C17.9086 40 0 22.0913 0 0Z' fill='%23000'/%3E%3C/svg%3E");
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3E%3Cpath d='M0 0v40H40C17.9086 40 0 22.0913 0 0Z' fill='%23000'/%3E%3C/svg%3E");
}

.corner-bottom::after {
  right: 0;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3E%3Cpath d='M40 0V40H0C22.0914 40 40 22.0913 40 0Z' fill='%23000'/%3E%3C/svg%3E");
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3E%3Cpath d='M40 0V40H0C22.0914 40 40 22.0913 40 0Z' fill='%23000'/%3E%3C/svg%3E");
}

.corner-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  pointer-events: none;
  z-index: 2;
}

.corner-top::before,
.corner-top::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--md-sys-color-scrim);
}

.corner-top::before {
  left: 0;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3E%3Cpath d='M0 40V0H40C17.9086 0 0 17.9087 0 40Z' fill='%23000'/%3E%3C/svg%3E");
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3E%3Cpath d='M0 40V0H40C17.9086 0 0 17.9087 0 40Z' fill='%23000'/%3E%3C/svg%3E");
}

.corner-top::after {
  right: 0;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3E%3Cpath d='M40 40V0H0C22.0914 0 40 17.9087 40 40Z' fill='%23000'/%3E%3C/svg%3E");
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3E%3Cpath d='M40 40V0H0C22.0914 0 40 17.9087 40 40Z' fill='%23000'/%3E%3C/svg%3E");
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-bottom: env(safe-area-inset-bottom);
  background-color: var(--background);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
