@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --md-ref-typeface-brand: 'Inter';
  --md-ref-typeface-plain: system-ui;

  --md-sys-color-primary: rgb(174 198 255);
  --md-sys-color-surface-tint: rgb(174 198 255);
  --md-sys-color-on-primary: rgb(0 46 107);
  --md-sys-color-primary-container: rgb(0 106 230);
  --md-sys-color-on-primary-container: rgb(242 244 255);
  --md-sys-color-secondary: rgb(174 198 255);
  --md-sys-color-on-secondary: rgb(20 47 94);
  --md-sys-color-secondary-container: rgb(48 72 121);
  --md-sys-color-on-secondary-container: rgb(160 184 240);
  --md-sys-color-tertiary: rgb(238 176 255);
  --md-sys-color-on-tertiary: rgb(83 0 111);
  --md-sys-color-tertiary-container: rgb(161 71 193);
  --md-sys-color-on-tertiary-container: rgb(255 239 254);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(16 19 27);
  --md-sys-color-on-background: rgb(225 226 236);
  --md-sys-color-surface: rgb(16 19 27);
  --md-sys-color-on-surface: rgb(225 226 236);
  --md-sys-color-surface-variant: rgb(66 71 84);
  --md-sys-color-on-surface-variant: rgb(194 198 214);
  --md-sys-color-outline: rgb(140 144 160);
  --md-sys-color-outline-variant: rgb(66 71 84);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 226 236);
  --md-sys-color-inverse-on-surface: rgb(45 48 56);
  --md-sys-color-inverse-primary: rgb(0 90 196);
  --md-sys-color-primary-fixed: rgb(216 226 255);
  --md-sys-color-on-primary-fixed: rgb(0 26 66);
  --md-sys-color-primary-fixed-dim: rgb(174 198 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 67 150);
  --md-sys-color-secondary-fixed: rgb(216 226 255);
  --md-sys-color-on-secondary-fixed: rgb(0 26 66);
  --md-sys-color-secondary-fixed-dim: rgb(174 198 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(45 70 118);
  --md-sys-color-tertiary-fixed: rgb(250 215 255);
  --md-sys-color-on-tertiary-fixed: rgb(51 0 69);
  --md-sys-color-tertiary-fixed-dim: rgb(238 176 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(115 19 148);
  --md-sys-color-surface-dim: rgb(16 19 27);
  --md-sys-color-surface-bright: rgb(54 57 65);
  --md-sys-color-surface-container-lowest: rgb(11 14 21);
  --md-sys-color-surface-container-low: rgb(25 27 35);
  --md-sys-color-surface-container: rgb(29 31 39);
  --md-sys-color-surface-container-high: rgb(39 42 50);
  --md-sys-color-surface-container-highest: rgb(50 53 61);
}

